body{
    background-color: #223322;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.square1{
    width: 30%;
    background: beige;
   padding-top: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition-duration: 0.6s;
}
.container{
    width: 616px;
    margin: 0 auto;
}
h1{
    color: white;
   text-align: center;
   text-transform: uppercase;
   font-weight: normal;
   background-color: steelblue;
   margin: 0;
   padding: 20px 0;
   transition-duration: 0.3s;
}
span{
    color: white;
    
}

#clicked{
   
    height: 30px;
    background-color: white;
    text-align: center;
}
#tryagain{
    color: black;
    display: inline-block;
    width: 15%;
}
.selected{
    background-color: steelblue;
    color: white;
}

#colordisplay{
    font-size: 200%;
}
button{
    background: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    font-size: inherit;
    transition: all 0.3s;
}
button:hover{
    background: steelblue;
    color: white;
}
